#root {
  max-width: 1100px;
  margin: 0 auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userInput-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  padding: 2rem;
  text-align: center;
}

.input-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.inputName-container{
  display: flex;
  gap: 5px;
}

.userInputFooterImg{
  height: 25%;
}

.userInputFooterImg>img{
  width: 150px;
}


.header-redSection{
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: red;
  position: relative;
}

.header-redSection img{
  width: 60%;
  position: absolute;
  top: 65px;
  left: 40px;
}

.header-blackSection{
  background-color: black;
  color: black;
  height: 40px;
}

.welcomeContainer{
  text-align: left;
  margin-top: 1rem;
  font-size: larger;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
}

.welcomeContainer p{
  color: red;
  margin-bottom: 0;
}

.welcomeContainer span{
  color: black;
}

.welcomeContainer img{
  width: 50px;
  height: 50px;
}

.welcomeContainer button{
  border-radius: 1rem;
  background-color: rgba(254, 62, 62, 0.687);
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.pokemonCard-Container{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

.hovercard{
	position: relative;
}
.hovercard::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
  cursor: pointer;
}
.hovercard:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
  cursor: pointer;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 130%;
		height: 130%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 130%;
		height: 130%;
		opacity: 0;
	}
}



.pokemon-item{
  width: 100%;
  height: 450px;
  padding: 10px;
}

.pokemon-card{
  position: relative;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .2);
  border-radius: 2px solid black;
  padding: 10px;
  height: 100%;
  text-align: center;
  background-color: rgb(21, 31, 9);
}

.pokemon-card img{
  width: 150px;
  height: 150px;
}

.whiteContainer{
  background-color: rgba(255,255,255,0);
  width: 100%;
  height: 73%;
  padding-top: 30px;
  margin-top: -40px;
}

.whiteContainer>h3{
  margin-bottom: 0;
  width: 70%;
  margin-left: 15%;
  color: whitesmoke;
  font-weight: bold;
}

.whiteContainer>p{
  margin-bottom: 0;
  font-weight: bold;
}

.whiteContainer-type{
  color: rgba(205, 205, 205, 0.859);
}

.pokemonCard-stats{
  display: flex;
  justify-content: space-around;
}

.pokemonCard-stats p{
  margin-bottom: 0;
  padding: 3px;
  color: rgba(205, 205, 205, 0.859);
  font-weight: bold;
}

.pokemonCard-stats small{
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
}

.pokemonDetails-backgroundContainer{
  width: 100%;
  height: 100px;
  margin-top: 40px;
  position: relative;
}

.pokemonDetails-backgroundContainer img{
  position: absolute;
  width: 200px;
  height: 230px;
  top: -110px;
  left: 20%;
}

.pokemonDetails-IdContainer{
  display: flex;
  justify-content: center;
}

.pokemonDetails-IdContainer h1{
  border: 1px solid gray;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.mytextdiv{
  display:flex;
  flex-direction:row;
   align-items: center;
}
.mytexttitle{
  flex-grow:0;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
}

.divider{
  flex-grow:1;
  height: 2px;
  background-color: #9f9f9f;
}

.innerPokemonDetailsContainer{
  padding: 2rem;
}

.progressBar-Container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pokemonDetails-statsContainer{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  color: rgb(79, 78, 78);
  font-weight: bold;
  align-content: center;
  align-items: center;
}

.pokemonDetails-statsContainer div{
  text-align: center;
}

.pokemonDetails-statsContainer p{
  margin-bottom: 3px;
}

.pokemonDetails-typeHabilitiesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.pokemonDetails-typeContainer{
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.pokemonDetails-typeContainer p{
  color: whitesmoke;
  font-weight: bold;
  border: 1px solid black;
}

.pokemonDetails-habilitiesContainer{
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.pokemonDetails-habilitiesContainer p{
  border: 1px solid black;
  font-weight: bold;
}

.progressBar-statsContainer{
  display: flex;
  justify-content: space-between;
}

.stats-PokeballDivider img{
  width: 40px;
  height: 40px;
}

.movementsContainer{
  margin-top: 1rem;
}

.btn-movementsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  gap: 5px;
}

.movementBtn{
  border-radius: 8px;
}

.pokemonDetails-nav{
  display: flex;
  justify-content: flex-end;
}

.pokemonDetails-nav button{
  border-radius: 1rem;
  background-color: rgba(254, 62, 62, 0.687);
  color: black;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.pokemonDetails-nav img{
  width: 50px;
  height: 50px;
}

.normal{
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.fighting{
  background: rgb(131,58,180);
  background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.poison{
  background: rgb(34,195,188);
  background: linear-gradient(0deg, rgba(34,195,188,1) 0%, rgba(53,253,45,1) 100%);
}

.ground{
  background: rgb(195,34,34);
  background: linear-gradient(0deg, rgba(195,34,34,1) 0%, rgba(253,167,45,1) 100%);
}

.rock{
  background: rgb(89,89,89);
  background: linear-gradient(0deg, rgba(89,89,89,1) 0%, rgba(255,255,255,1) 100%);
}

.bug{
  background: rgb(0,36,18);
  background: linear-gradient(0deg, rgba(0,36,18,1) 0%, rgba(9,121,88,1) 35%, rgba(0,212,255,1) 100%);
}

.ghost{
  background: rgb(183,63,251);
  background: linear-gradient(0deg, rgba(183,63,251,1) 0%, rgba(70,86,252,1) 100%); 
}

.steel{
  background: rgb(238,238,174);
  background: radial-gradient(circle, rgba(238,238,174,1) 0%, rgba(148,220,233,1) 100%);
}

.fire{
  background: rgb(238,10,53);
  background: linear-gradient(180deg, rgba(238,10,53,1) 0%, rgba(205,215,30,1) 100%);
}

.water{
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.grass{
  background: rgb(15,15,1);
  background: linear-gradient(0deg, rgba(15,15,1,1) 0%, rgba(31,245,2,1) 100%); 
}

.electric{
  background: rgb(43,28,1);
  background: linear-gradient(0deg, rgba(43,28,1,1) 0%, rgba(245,255,0,1) 100%);
}

.psychic{
  background: rgb(141,161,0);
  background: radial-gradient(circle, rgba(141,161,0,1) 0%, rgba(111,0,255,1) 100%);
}

.ice{
  background: rgb(0,149,161);
  background: radial-gradient(circle, rgba(0,149,161,1) 0%, rgba(0,22,255,1) 100%);
}

.dragon{
  background: rgb(140,0,161);
  background: radial-gradient(circle, rgba(140,0,161,1) 0%, rgba(215,252,99,1) 100%);
}

.dark{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.fairy{
  background: rgb(214,214,189);
  background: radial-gradient(circle, rgba(214,214,189,1) 0%, rgba(255,168,168,1) 100%); 
}

.flying{
  background-color: tomato;
}

.none{
  background-color: black;
}

@media (min-width: 558px){
  .pokemon-item{
    width: 50%;
  }
  .header-redSection img{
    width: 50%;
    top: 60px;
    left: 70px;
  }
  .pokemonDetails-backgroundContainer img{
    left: 35%;
  }
  .pokemonDetails-statsContainer{
    gap: 5rem;
  }

  .pokemonDetails-typeContainer{
    gap: 2rem;
  } 
 
  .pokemonDetails-habilitiesContainer{
    gap: 2rem;
  }
}

@media (min-width: 768px){
  .pokemon-item{
    width: 33.33333%;
  }
  .header-redSection img{
    width: 50%;
    top: 40px;
    left: 80px;
  }
  .pokemonDetails-backgroundContainer img{
    left: 38%;
  }
  .pokemonDetails-statsContainer{
    gap: 7rem;
  }
  .pokemonDetails-typeContainer{
    gap: 2.5rem;
  } 
 
  .pokemonDetails-habilitiesContainer{
    gap: 2.5rem;
  }
}

@media (min-width: 998px){
  .pokemon-item{
    width: 25%;
  }
  .header-redSection img{
    width: 35%;
    top: 35px;
    left: 100px;
  }
  .pokemonDetails-backgroundContainer img{
    left: 40%;
  }
  .pokemonDetails-statsContainer{
    gap: 9rem;
  }
  .pokemonDetails-typeContainer{
    gap: 3rem;
  } 
 
  .pokemonDetails-habilitiesContainer{
    gap: 3rem;
  }
}